<html>
    <head>
        <title>Enquete</title>
    </head>
    <body>
        <h2>** Detalhes do comentário **</h2>
        <ul>
            <u>Nome do autor</u>: {{ comentario.nome_do_autor }} <br>
            <u>Data de inserção</u>: {{ comentario.data }}
        </ul>
        <a href="{%url 'main:detalhes' comentario.pergunta.id %}">Voltar para a enquete</a> |
        <a href="{%url 'main:index'%}"> Retornar para a home</a>
    </body>
</html>