<html>
    <head>
        <title>Enquete</title>
    </head>
    <body>
        <h2>** Detalhes da enquete {{ pergunta.id }} **</h2>
        <u>Pergunta</u>: {{ pergunta.texto }}<br/>
        <u>Data de publicação</u>: {{ pergunta.data_publicacao}}
        {% if error_message %}
            <hr>
                <strong> {{ error_message }} </strong>
            </hr>
        {% endif %}
        <form action="{% url 'main:votacao' pergunta.id %}" method="post">
            {% csrf_token %}
            <ul>
                {% for opcao in pergunta.opcao_set.all %}
                    <li><input type="radio" name="opcao"
                        id="opcao{{ forloop.counter }}" value="{{ opcao.id }}">
                        <label for="opcao{{ forloop.counter }}">
                            {{ opcao.texto }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
                <input type="submit" value="Votar">
        </form>
        <ul>
            <u>Comentarios</u>:
            {% for comentario in pergunta.comentario_set.all %}
                    <li><a href="{% url 'main:comentdetalhes' comentario.id %}">
                    {{ comentario.texto }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>