<html>
    <head>
        <title>Aplicações DSWeb 2020.1</title>
    </head>
    <body>
        <h2>Aplicações da Disciplina de Dev. Web 2020.1</h2>
        <h4>Selecione a aplicação desejada:</h4>
        <ul>
            <li><a href="{% url 'main:index' %}">Aplicação Enquete - Módulo 1</a></li>
            <li><a href="{% url 'indicaflix:index' %}">Aplicação IndicaFlix - Módulo 2</a></li>
        </ul>
        <hr>
        <b>Ana Paula Oliveira</b> (<i>oliveira.a@academico.ifrn.edu.br</i>)
    </body>
</html>







