{% load static %}
<html>
    <head>
        <title>Enquete</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    </head>
    <body>
        {% if ultimas_perguntas %}
            <h2>** Lista das últimas enquetes **</h2>
            <ul>
                {% for pergunta in ultimas_perguntas %}
                    <li><a href="{% url 'main:detalhes' pergunta.id %}">
                    {{ pergunta.texto }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>Não há enquetes cadastradas até o momento! :( </h3>
        {% endif %}
    </body>
</html>