<html>
    <head>
        <title>Enquete</title>
    </head>
    <body>
        <h2>** Resultado parcial da enquete {{pergunta.id}} **</h2>
        <u>Pergunta</u>: {{ pergunta.texto }}<br/>
        <u>Data de publicação</u>: {{ pergunta.data_publicacao}}
        <ul>
            {% for opcao in pergunta.opcao_set.all %}
                <li> {{ opcao.texto }} = {{ opcao.votos}}
                voto{{ opcao.votos | pluralize }}</li>
            {% endfor %}
        </ul>
        <hr/>
        <a href="{% url 'main:detalhes' pergunta.id %}">Votar novamente</a> |
        <a href="{%url 'main:index'%}"> Retornar para a home</a>
    </body>
</html>