{% load static %}
<html>
<head>
    <title>IndicaFlix</title>
    <link rel="stylesheet" type="text/css" href="{% static 'indicaflix/style.css' %}">
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
        crossorigin="anonymous"
    />
</head>
<body>
    <div class="container">
    <h2>Aplicação do Módulo 2 - IndicaFlix</h2>
    {% if user.is_authenticated %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Uhul! <i class="far fa-grin-stars fa-lg"></i></h4>
            <p><b>{{ indicacao_interesse.nome }}</b> está na sua lista de interesses!</p>
        </div>

        <button class="btn btn-primary rounded-pill"><a class="text-decoration-none text-white" href="{% url 'indicaflix:lista-interesses' %}">Lista de interesses</a></button>
        <button class="btn btn-danger rounded-pill"><a class="text-decoration-none text-white" href="{% url 'indicaflix:index' %}">Voltar para lista de indicações</a></button>

    {% endif %}
    </div>
</body>
</html>