{% load static %}
<html>
<head>
    <title>IndicaFlix</title>
    <link rel="stylesheet" type="text/css" href="{% static 'indicaflix/style.css' %}">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
</head>
<body>
    <div class="container">
        <h2>Aplicação do Módulo 2 - IndicaFlix</h2>
        <h4>Detalhes sobre {{ indicacoes.nome }}</h4>
        <ul>
            <li><b>Título:</b> {{ indicacoes.nome }}</li>
            <li><b>Tipo:</b> {{ indicacoes.tipo }}</li>
            <li><b>Descrição:</b> {{ indicacoes.descricao }}</li>
            <li><b>Gênero:</b> {{ indicacoes.genero }}</li>
            <li><b>Duração:</b> {{ indicacoes.duracao }}</li>
            <li><b>Lançamento:</b> {{ indicacoes.data_publicacao }}</li>
            <li><b>Autor/Diretor:</b> {{ indicacoes.autor }}</li> <br>
            <b>Indicação feita dia:</b> {{indicacoes.data_indicacao}}
        </ul>

        <a class="btn btn-success rounded-pill" href="{% url 'indicaflix:acionar-interesse' indicacoes.id %}">Adicionar a lista de interesses</a>
        <a class="btn btn-danger rounded-pill" href="{% url 'indicaflix:index' %}">Voltar para lista de indicações</a>
    </div>
</body>
</html>