{% load static %}
<html>

<head>
    <title>IndicaFlix</title>
    <link rel="stylesheet" type="text/css" href="{% static 'indicaflix/style.css' %}">
    <link
    rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
    crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

</head>

<body>
    <div class="container">
        <h2 class="text-center">Aplicação do Módulo 2 - IndicaFlix</h2>
        <div class="offset-md-4">
            <div class="col-auto">
                {% if user.is_authenticated %}
                <h5>Olá, {{user.pessoa.nome}} <a class="text-decoration-none" href="{% url 'indicaflix:logout' %}"><i
                            class="fas fa-sign-out-alt"></i>Sair</a></h5>
                {% else %}
                <a class="btn btn-success rounded-pill" href="{% url 'indicaflix:login' %}">Fazer login</a>
                {% endif %}
                <a class="btn btn-primary rounded-pill" href="{% url 'indicaflix:lista-interesses' %}">Lista de
                    interesses</a>
            </div>
        </div>

        {% if indicacoes_list %}
        <table id="minha-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                    <th>Visualizar</th>
                </tr>
            </thead>
            <tbody>
                {% for indicacoes in indicacoes_list %}
                <tr>
                    <td>{{ indicacoes.nome }}</td>
                    <td>{{ indicacoes.tipo }}</td>
                    <td>{{ indicacoes.descricao | slice:"0:150" }}...</td>
                    <td><a href="{% url 'indicaflix:detalhamento' indicacoes.id %}"><i class="far fa-eye fa-2x"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Titulo</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                    <th>Visualizar</th>
                </tr>
            </tfoot>
        </table>

        {% else %}
        <h3>Desculpe, ainda não há indicações cadastradas.</h3>
        {% endif %}
    </div>

    <script>
        $(document).ready(function () {
            $('#minha-table').DataTable({
                "language": {
                    "search": "Pesquisar:",
                    "searchPlaceholder": "Nome da indicação...",
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Nenhuma indicação encontrada",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum indicação disponível",
                    "infoFiltered": "(Filtrando de _MAX_ de indicações no total)",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Ultimo",
                        "next": "Proximo",
                        "previous": "Anterior",
                    },
                }
            });
            $('select').select();
        });
    </script>

</body>

</html>