{% load static %}
<html>
<head>
    <title>IndicaFlix</title>
    <link rel="stylesheet" type="text/css" href="{% static 'indicaflix/style.css' %}">
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
        crossorigin="anonymous"
    />
</head>
<body>
    <div class="container">
        <h2>Aplicação do Módulo 2 - IndicaFlix</h2>
        {% if user.is_authenticated %}

            {% if request.user.pessoa.interesse.count == 0 %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Ah, não! <i class="far fa-sad-tear fa-lg"></i></h4>
                    <p>Você ainda não tem indicação na sua lista de interesses</p>
                    <hr>
                    <p class="mb-0">Sugerimos que volte as indicações para encontrar algo legal pra você!</p>
                </div>
            {% endif %}

            <ul>
                {% for i in request.user.pessoa.interesse.all %}
                    <li><b>Título:</b> {{ i.nome }}</li>
                    <li><b>Tipo:</b> {{ i.tipo }}</li>
                    <li><a class="btn btn-danger" href="{% url 'indicaflix:remover-interesse' i.id %}"><i class="far fa-trash-alt fa-lg"></a></i></li>
                    <hr>
                {% endfor %}
            </ul>

        {% else %}
        <div class="alert alert-danger" role="alert">
            <p>Você precisa estar logado no sistema para poder ter acesso a sua lista de interesses!</p>
        </div>
        <a class="btn btn-success rounded-pill" href="{% url 'indicaflix:login' %}">Fazer login</a>
        {% endif %}
        <a class="btn btn-primary rounded-pill" href="{% url 'indicaflix:index' %}">Ver mais indicações</a>
    </div>
</body>
</html>