{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'indicaflix/style.css' %}">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <title>IndicaFlix</title>
</head>

<body>

    <div class="container">
        <h2 class="text-center">Aplicação do Módulo 2 - IndicaFlix</h2>

        {% if messages %}
        <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form action="" id="create-class" method="POST">
            {% csrf_token %}
            <h3 class="text-center"><i class="fas fa-lock"></i>Login</h3>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label for="username">E-mail:</label>
                    <input class="form-control" name="username" placeholder="Digite seu e-mail" id="name" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label for="senha">Senha:</label>
                    <input class="form-control" name="senha" placeholder="Digite sua senha" id="avatar" type="password" required>
                </div>
            </div>
            <br>
            <div class="col-md-6 offset-md-3">
                <input type="submit" class="btn btn-success rounded-pill" value="login">
                <a class="btn btn-danger rounded-pill" href="{% url 'indicaflix:index' %}">Voltar para lista de indicações</a>
            </div>
        </form>
    </div>
</body>

</html>