{% load static %}
<html>
<head>
    <title>IndicaFlix</title>
    <link rel="stylesheet" type="text/css" href="{% static 'indicaflix/style.css' %}">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
</head>
<body>
    <div class="container">
        <h2>Aplicação do Módulo 2 - IndicaFlix</h2>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Feito! <i class="far fa-laugh-wink fa-lg"></i></h4>
            <p>Você removeu <b>{{ indicacao_retirada.nome }}</b> da sua lista de interesses!</p>
            <hr>
            <p class="mb-0">Esperamos que tenha desfrutado bastante da indicação</p>
        </div>

        <a class="btn btn-primary rounded-pill" href="{% url 'indicaflix:lista-interesses' %}">Ver minha lista de interesses</a>
        <a class="btn btn-secondary rounded-pill" href="{% url 'indicaflix:index' %}">Voltar para lista de indicações</a>
    </div>
</body>
</html>